html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body p{
    color: white;
}
h2{
    color:white;
    text-align: center;
    font-family:"Times New Roman";
    font-size: 30px;
}
.topnav{
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
    text-align: center;
}

.navitem{
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    padding: 12px 18px;
    height: 20px;
}

.navitem:hover{
    color: black;
    background-color: white;
}

.footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: white;
}