html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#panel1{
    height: 100%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 50px;
}

#panel2{
    height: 100%;
}

#panel3{
    height: 100%;
    background-color: black;
}

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

body p, h1{
    color: white;
}

p.groove {
    border-style: groove;
}

h2{
    color:white;
    text-align: center;
    font-family:"Times New Roman";
    font-size: 30px;
}

.topnav{
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
    text-align: center;
}

.navitem{
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    padding: 12px 18px;
    height: 20px;
}

.navitem:hover{
    color: black;
    background-color: white;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: white;
}

/* UNUSED FOOTER CODE
.footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}
*/