html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#panel1{
    height: 100%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 50px;
    margin-bottom: 5px;
}

#panel1 p, #panel1 h1{
    color: white;
}

#panel2 h1{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#panel2{
    min-height: 100%;
    text-color: white;
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 5px;
}

#panel2 p{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 70%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    color:white;
}

#panel3{
    background-color: black;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 20px;
}

#panel3 p{
    margin-top: 0px;
    margin-bottom: 0px;
}

p.groove {
    border-style: groove;
}

h2{
    color:white;
    text-align: center;
    font-family:"Times New Roman";
    font-size: 30px;
}
h1{
    color:white;
    text-align: center;
    font-family:"Times New Roman";
    font-size: 30px;
}
.topnav{
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
    text-align: center;
}

.navitem{
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    padding: 12px 18px;
    height: 20px;
}

.info{
    max-width: 450px;
    text-align: center;
    margin: auto;
}

.navitem:hover{
    color: black;
    background-color: white;
}

.footer{
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer a{
    text-decoration: none;
    color: white;
}

/* UNUSED FOOTER CODE
.footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}
*/